@model IEnumerable<Stock>
@{
    ViewBag.Title = "Explore";
    ViewBag.CurrentUrl = "~/Stocks/Explore";
}

<div class="flex">
    <div class="flex-1">
        <div class="text-grey ml">
            <span>Stocks</span>
            <i class="fa-solid fa-caret-right"></i>
            <span>@ViewBag.Title</span>
        </div>
    </div>
    <div class="flex-1 text-right"></div>
</div>

<div class="flex stocks-list">
    <div class="flex-1" id="stocks-list">
        <div class="box">
            <div class="flex">
               <div class="flex-1">
                    <h4 class="text-grey mb">Stocks</h4>
                </div>
                <div class="flex-1 text-right">
                    @{
                        string? show = Context.Request.Query["showAll"];
                        bool showAll = show == "true" || show ==  "True";
                    }
                    <div class="toggle-row">
                        <label class="toggle-wrap">
                            <input type="checkbox" id="showAllToggle" @(showAll ? "checked" : "") />
                            <span class="toggle-track"></span>
                        </label>
                        <span class="toggle-text">Show All Stocks</span>
                    </div>
                </div>
            </div>
            <ul class="list">
                @foreach(var stock in Model){
                    <li>
                        <a asp-action="@nameof(StocksController.Explore)" asp-controller="Stocks" asp-route-stock="@stock.StockSymbol" asp-route-showAll="@showAll">
                            <h4>@stock.StockName</h4>
                            <div class="text-grey ">(@stock.StockSymbol)</div>
                        </a>
                    </li>
                }
            </ul>

            @if(!Model.Any())
            {
                <div class="mt text-grey">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    No stocks found
                </div>
            }
        </div>
    </div>
    <div class="flex-1" id="stock-details">
        @if(ViewBag.Stock != null){
            @await Component.InvokeAsync("SelectedStock",new {stockSymbol = ViewBag.Stock})
        }
    </div>
</div>

@section scripts{
    <script>
        document.getElementById("showAllToggle")
            .addEventListener("change",function(){
                const isChecked = this.checked;
                const url = new URL(window.location.href);

                url.searchParams.set("showAll", isChecked);

                window.location.href = url.toString();
            });

    </script>
}