@model StockTrade

@{
    ViewBag.Title = "Trading";
    ViewBag.CurrentUrl = "~/Trade/Index";
}

<div class="text-grey ml">
    <span>Stocks</span>
    <i class="fa-solid fa-caret-right"></i>
    <span>@Model.StockName</span>
</div>

<form method="post">
    <div class="box trading-panel">

        <div class="flex trading-panel-flex">
            <div id="stock-price-panel">

                <div class="stock">
                    <h1 class="stock-title">@Model.StockName (@Model.StockSymbol)</h1>
                    <h2 class="stock-price"><small class="text-grey">$</small> <span
                        class="price">@Model.Price.ToString("N")</span></h2>
                    </div>

                    <div class="date"></div>
                </div>




                <div id="new-order-panel">

                    <div class="flex flex-direction-vertical">
                        <h3 class="text-grey mb">New Order</h3>

                        <label asp-for="Quantity" class="mt">Quantity:</label>
                        <div class="w-25">
                            <input min="1" max="100000" asp-for="Quantity" placeholder="Quantity" class="form-input mb"
                                   autofocus="autofocus" />
                            <span asp-validation-for="Quantity" class="text-red"></span>
                        </div>
                    </div>

                    <div class="button-panel">

                        <button type="submit" asp-action="SellOrder" asp-controller="Trade"
                                class="button button-red-back trading-button sell-button">
                            <i class="fa-solid fa-arrow-down"></i>
                            <span>Sell</span>
                        </button>

                        <button type="submit" asp-action="BuyOrder" asp-controller="Trade"
                                class="button button-green-back trading-button buy-button">
                            <i class="fa-solid fa-arrow-up"></i>
                            <span>Buy</span>
                        </button>

                        <div asp-validation-summary="All" class="text-red"></div>

                        @if (ViewBag.Errors != null)
                        {
                            <div class="text-red mt">
                                <ul>
                                    @foreach (string error in ViewBag.Errors)
                                    {
                                        <li class="ml">@error</li>
                                    }
                                </ul>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>


        <input type="hidden" name="StockSymbol" id="StockSymbol" value="@Model.StockSymbol" />
        <input type="hidden" name="StockName" id="StockName" value="@Model.StockName" />
        <input type="hidden" name="Price" id="price" value="@Model.Price" />
        <input type="hidden" id="FinnhubToken" value="@ViewBag.FinnhubToken" />

    </form>


    @section Scripts {
        <script src="~/Scripts/FinnhubScript.js">
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
                integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
                crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-test="jQuery"
                asp-fallback-src="~/jquery.min"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js"
                integrity="sha512-KFHXdr2oObHKI9w4Hv1XPKc898mE4kgYx58oqsc/JqqdLMDI4YjOLzom+EMlW8HFUd0QfjfAvxSL6sEq/a42fQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-test="jQuery.validator"
                asp-fallback-src="~/jquery.validate.min"></script>

        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"
        integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog=="
        crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-test="jQuery.validator.unobtrusive"
        asp-fallback-src="~/jquery.validate.unobtrusive.min"></script>
    }