
@model Company


<img src="@Model.companyProfile.Logo" width="200px">
<h1>@Model.companyProfile.Name (@Model.companyProfile.Ticker)</h1>
<span class="pill">@Model.companyProfile.FinnhubIndustry</span>
<h3 class="mb">Exchange: <span class="pill">@Model.companyProfile.Exchange</span></h3>

<h1 class="stock-price"><span class="text-grey">$</span> @Model.currentStockPrice</h1>
<a class="button-link button-blue-back" id="trade-button" asp-action="@nameof(TradeController.Index)" asp-controller="Trade" asp-route-stockSymbol="@Model.companyProfile.Ticker">Trade Now</a>
